<div class="col-12 d-flex mb-5 cloudy-knoxville-gradient color-block p-4">
    <div class="p-3 text-center">
        <h2>About Gifts' Home</h2>
        <hr />
        <p class=" lead text-muted" style="line-height: 30px; font-size: 20px;">
            Gift's Home is an online gift shop established to help you find gifts for your loved ones. Thanks to our numeros categories, finding the perfect gift for your occasion has never been simpler.
            The quality of our products is impecable and unmatched for the price.
        </p>
    </div>
    <img src="/svgs/illu-1.jpg" alt="Alternate Text" class="rounded-circle" style="width: 300px;"/>
</div>

<div class="d-flex mb-5 text-center">
    <img src="/svgs/illu-2.jpg" alt="Alternate Text" class="rounded-circle ml-3" style="width: 300px;"/>
    <div class="p-3">
        <h3>Features</h3>
        <hr />
        <p class="lead text-muted">
            Take advantage of the simple user interface to find the perfect gift you are looking for. Filter gifts based on occasions, holidays and more to narrow your search. Check out the home page to see recently added items to keep your gifts fresh and unique.
        </p>
    </div>
</div>

<div class="col-md-6 offset-3 text-center">
    <h3>Feel free to contact us</h3>
    <hr />
    <p class="lead text-muted">Email: <i>giftscontact@gifts.com</i></p>
    <p class="lead text-muted">Phone number: +251-911-223344</p>
    <p class="lead text-muted">Follow our social media to see what's happening</p>
    <a asp-action="Facebook" target="_blank"><img src="/Icons/facebook.png" alt="Facebook"/></a>
    <a asp-action="Instagram" target="_blank"><img src="/Icons/instagram.png" alt="Instagram" /></a>
    <a asp-action="Twitter" target="_blank"><img src="/Icons/twitter-sign.png" alt="Twitter" /></a>
</div>