@model Item

@{
    ViewData["Title"] = "Delete Item";
}
<div class="row text col-md-10 offset-1 p-4">
    <h2>Delete conformation for @Model.ItemName</h2>
    <div class="col-12 d-flex justify-content-around p-3">
        <img class="" src="@Model.ImageURL" alt="@Model.ItemName Image" style="width: 200px; height: 250px; border-radius: 6px;" />
        <div>
            <h3>@Model.ItemName</h3>
            <hr />
            <p class="">Are you sure you want to remove this item form the store?</p>
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                </form>
                <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</div>