@model Item

@{
    ViewData["Title"] = "Delete Item";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Conformation for @Model.ItemName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" readonly />
                    <span asp-validation-for="ItemName" class="text-danger"></span>

                    <label asp-for="ImageURL" class="control-label"></label>
                    <input asp-for="ImageURL" class="form-control" readonly />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>

                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>

                    <label asp-for="AvailabilityStatus" class="control-label"></label>
                    <input asp-for="AvailabilityStatus" class="form-control" readonly />
                    <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>

                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <label asp-for="CategoryId" class="control-label"></label>
                    <input asp-for="CategoryId" class="form-control" readonly />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>

        </div>
    </div>

</div>
