@model Item

@{
    ViewData["Title"] = "Item Detail";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.ItemName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class="form-group">
                        <label asp-for="ItemName" class="control-label"></label>
                        <input asp-for="ItemName" class="form-control" readonly/>
                        <span asp-validation-for="ItemName" class="text-danger"></span>

                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" readonly/>
                        <span asp-validation-for="ImageURL" class="text-danger"></span>

                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" readonly/>
                        <span asp-validation-for="Price" class="text-danger"></span>

                        <label asp-for="AvailabilityStatus" class="control-label"></label>
                        <input asp-for="AvailabilityStatus" class="form-control" readonly/>
                        <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>

                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly/>
                        <span asp-validation-for="Description" class="text-danger"></span>

                        <label asp-for="CategoryId" class="control-label"></label>
                        <input asp-for="CategoryId" class="form-control" readonly/>
                        <p>Category Name : @Model.Category.CategoryName</p>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <a class="btn btn-outline-danger float-right" style="margin-right: 5px;" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        }

                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
            </div>

        </div>
    </div>

</div>
