<div class="row text-center">
    <div class="col-md offset-2">
        <h1 class="text-info">The address provided is not available... :(</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Items" asp-action="Index">Home Page</a>
    </div>
</div>